<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
<head>
<meta charset= "ISO-8859-1">
<title>REGISTRO USUARIO</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">

</head>
<body>
	<div class="container-100">

				<div class="container-30">
		<h2>Panel de Administrador</h2><br>


		<div class="container-class">
			<h3>ROLES</h3>
			<a th:href="@{/new}" class="btn btn-primary btn-lg btn-block">Listar Roles</a><br>
			<a th:href="@{/new}" class="btn btn-primary btn-lg btn-block">Nuevo Rol</a>
		</div><br>

		<div class="container-class">
		<h3>USUARIOS</h3>	
			<a th:href="@{/listarUsuario}" class="btn btn-primary btn-lg btn-block" >Listar Usuarios</a><br>		
			<a th:href="@{/newUsuario}" class="btn btn-primary btn-lg btn-block" >Nuevo Usuario</a>
		</div><br>

		<div class="container-class">
			<h3>CLIENTES </h3>
			<a th:href="@{/listarCliente}" class="btn btn-primary btn-lg btn-block" >Listar Clientes</a><br>
			<a th:href="@{/newCliente}" class="btn btn-primary btn-lg btn-block" >Nuevo Cliente</a>
		</div><br>

		<div class="container-class">
			<h3>INVENTARIO PRODUCTOS</h3>
			<a th:href="@{/listar-producto}" class="btn btn-primary btn-lg btn-block">Listar Productos</a>
			<a th:href="@{/new-producto}" class="btn btn-primary btn-lg btn-block">Nuevo Producto</a>
		</div>

	</div>

		<div class="container-70">
			<form th:action="@{/save-producto}" th:object=${producto} method="POST">
				<div class="card">
						<div class="card-header">
							<h3 class="text-center">REGISTRO PRODUCTO</h3>
						</div>
							<div class="card-body">
								<div class="form-group">
									<label>Id del producto:</label>
									<input th:field="*{id_producto}"type="text" class="form-control"/>
								</div>
								<div class="form-group">
									<label>Descripcion del producto:</label>
									<input th:field="*{descripcion}"type="text" class="form-control"/>
							   </div>
							   <div class="form-group">
									<label>ID del proveedor:</label>
									<input th:field="*{id_proveedor}"type="text" class="form-control"/>
							   </div>
							   <div class="form-group">
									<label>Precio:</label>
									<input th:field="*{precio}"type="text" class="form-control"/>
							   </div>
							   <div class="form-group">
									<label>Stock:</label>
									<input th:field="*{existencia}"type="text" class="form-control"/>
							   </div>
							  
				</div>
							<div class="card-footer">
						    <input type="submit" value="Guardar" class="btn btn-success btn-lg btn-block">
				</div>	
			</form>
		</div>
	</div>
</body>
</html>