<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
<head>
<meta charset= "ISO-8859-1">
<title>LISTAR USUARIOS</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">

</head>
<body>
<div class="container-100">

	<div class="container-30">

		<h2>Panel de Administrador</h2><br>

		<div class="container-class">
			<h3>ROLES</h3>
			<a th:href="@{/new}" class="btn btn-primary btn-lg btn-block">Listar Roles</a><br>
			<a th:href="@{/new}" class="btn btn-primary btn-lg btn-block">Nuevo Rol</a>
		</div><br>

		<div class="container-class">
		<h3>USUARIOS</h3>	
			<a th:href="@{/listarUsuario}" class="btn btn-primary btn-lg btn-block" >Listar Usuarios</a><br>		
			<a th:href="@{/newUsuario}" class="btn btn-primary btn-lg btn-block" >Nuevo Usuario</a>
		</div><br>

		<div class="container-class">
			<h3>CLIENTES </h3>
			<a th:href="@{/listarCliente}" class="btn btn-primary btn-lg btn-block" >Listar Clientes</a><br>
			<a th:href="@{/newCliente}" class="btn btn-primary btn-lg btn-block" >Nuevo Cliente</a>
		</div><br>

		<div class="container-class">
			<h3>INVENTARIO PRODUCTOS</h3>
			<a th:href="@{/listar-producto}" class="btn btn-primary btn-lg btn-block">Listar Productos</a>
			<a th:href="@{/new-producto}" class="btn btn-primary btn-lg btn-block">Nuevo Producto</a>
		</div>

	</div>

	<div class="container-70">
	<H2 class="titulos">LISTAR PRODUCTOS</H2>
	<table class="table table-light">
		<thead class="thead-dark">
				<tr>
					<th> ID PRODUCTO</th>
					<th> DESCRIPCION</th>
					<th> PROVEEDOR</th>
					<th> PRECIO</th>
					<th> STOCK</th>
					<th>ACCIONES</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="producto:${producto}">
				<td th:text="${producto.id_producto}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.id_proveedor}"></td>
				<td th:text="${producto.precio}"></td>
				<td th:text="${producto.existencia}"></td>
				<td>
				<a th:href="@{/editar-producto/}+${usuario.id_producto}"class="btn btn-warning">EDITAR</a>
				<a th:href="@{/eliminar-producto/}+${usuario.id_producto}"class="btn btn-danger">ELIMINAR</a>
				</td>
			</tr>
		</tbody>
</table>
</div>
</div>
</body>
</html>