<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org">
<head>
<meta charset= "ISO-8859-1">
<title>LISTAR CLIENTES</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<link rel="stylesheet" href="styles.css">
</head>
<body>
<div class="container-100">

	<div class="container-30">

		<h2>Panel de Administrador</h2><br>

		<div class="container-class">
			<h3>ROLES</h3>
			<a th:href="@{/new}" class="btn btn-primary btn-lg btn-block">Listar Roles</a><br>
			<a th:href="@{/new}" class="btn btn-primary btn-lg btn-block">Nuevo Rol</a>
		</div><br>

		<div class="container-class">
		<h3>USUARIOS</h3>	
			<a th:href="@{/listarUsuario}" class="btn btn-primary btn-lg btn-block" >Listar Usuarios</a><br>		
			<a th:href="@{/newUsuario}" class="btn btn-primary btn-lg btn-block" >Nuevo Usuario</a>
		</div><br>

		<div class="container-class">
			<h3>CLIENTES </h3>
			<a th:href="@{/listarCliente}" class="btn btn-primary btn-lg btn-block" >Listar Clientes</a><br>
			<a th:href="@{/newCliente}" class="btn btn-primary btn-lg btn-block" >Nuevo Cliente</a>
		</div><br>

		<div class="container-class">
			<h3>INVENTARIO PRODUCTOS</h3>
			<a href="" class="btn btn-primary btn-lg btn-block">Listar Productos</a>
			<a href="" class="btn btn-primary btn-lg btn-block">Nuevo Producto</a>
		</div>

	</div>

	<div class="container-70">

        <H2 class="titulos">LISTAR CLIENTES</H2>
	<table class="table table-light">
		<thead class="thead-dark">
				<tr>
					<th> ID CLIENTE</th>
					<th> DOCUMENTO DE IDENTIDAD</th>
					<th>NOMBRE</th>
					<th>CORREO</th>
					<th>FECHA DE NACIMIENTO</th>
					<th>TELEFONO</th>
					<th>DIRECCION</th>
					<th>ACCIONES</th>
					
				</tr>
		</thead>
		<tbody>
			<tr th:each="cliente:${cliente}">
				<td th:text="${cliente.id_cliente}"></td>
				<td th:text="${cliente.doc_identidad}"></td>
				<td th:text="${cliente.nombre}"></td>
				<td th:text="${cliente.correo}"></td>
				<td th:text="${cliente.fecha_nacimiento}"></td>
				<td th:text="${cliente.telefono}"></td>
				<td th:text="${cliente.direccion}"></td>
				<td>
				<a th:href="@{/editarCliente/}+${cliente.id_cliente}"class="btn btn-warning">EDITAR</a>
				<a th:href="@{/eliminarCliente/}+${cliente.id_cliente}"class="btn btn-danger">ELIMINAR</a>
				</td>
			</tr>
		</tbody>
</table>
</div>
</div>
</body>
</html>